/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
Page {
    background-color: #E2E0D5;
    padding-left: 12;
    padding-right: 12;
}

Button {
    /* Style selector */
    background-color: #FDFDFF;
    color: #836856;
    font-size: 12;
    border-radius: 15;
    margin: 10;
}

.title {
    /*class selector*/
    text-align: center;
    border-radius: 15;
    font-size: 24;
    font-weight: bold;
    margin-bottom: 12;
    padding: 5;
    background-color: #2BBECE;
    color: #D0D0D1;
}

.content{
    padding: 12;
}

.content .stack label {
    text-align: center;
}

#submit{
    background-color: #2274A5;
    color: #836856;
}

Stacklayout  label {

}

Stacklayour > label{}
Textfield[hints]{
    text-align: center;
}
.stack {
    border-style: solid;
    border-color: #2BBECE;
    border-radius: 15px;
    border-width: 4px;
    margin: 2;
}
/* * { 
    border-width: 2px;
    border-color:red;
    border-style: solid;
    margin: 1px;
    padding: 1px;
} */
